streamlit
python-dotenv

langchain==0.2.16
langchain-community==0.2.16
langchain-google-genai==1.0.10
langchain-text-splitters

faiss-cpu==1.7.4
sentence-transformers
pypdf

duckduckgo-search
ddgs
tiktoken
protobuf==4.25.3